@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat&display=swap')
@import url('https://fonts.cdnfonts.com/css/rothenburg-decorative')

$color_ochsenred: #8F1E31
$color_light_ochsenred: rgba($color_ochsenred, 0.95)
$color_background: #F8F8F8

body
    font: 18px 'Montserrat', Arial, sans-serif
    text-align: left
    background: $color_background
a
    color: $color_light_ochsenred
h1, h2, h3
    font-family: 'Alex Brush', cursive
    font-size: 4.5em
    font-weight: 300
    color: #494949
h1
    font-size: 1.8em
    font-weight: 400
p
    margin: 1em 0
    font-weight: 350
    text-align: left
b
    font-weight: 500
hr
    margin: 0 auto
    width: 80%
    border: 0px solid $color_ochsenred
section
    margin: 15% 5%
nav
    position: fixed
    top: 0
footer
    text-align: center
    font-size: 0.8em
    margin-top: 3em
.link-no-underline
    box-shadow: none
.partner-icon img
    margin: 5px
.flex
    display: flex
    flex-direction: column
    justify-content: center
.cropped
    width: 600px
    height: 200px
    overflow: hidden
    object-fit: cover
.cropped img 
    margin: -10px 0px 0px -180px
#intro
    background-image: url("../../content/assets/intro.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: 70%
    background-color: rgba(0, 0, 0, 0.15)
    height: 60vh
#introtext
    span
        color: $color_ochsenred
        font-weight: 405
#catering
    li
        list-style: none
    h3
        font-size: 1.5rem
        font-family: 'Montserrat', Arial, sans-serif
        color: $color_light_ochsenred
#icon-bottom-ochsen
    width: 65px
    height: 48px
    margin: 0 auto
#brand
    position: absolute
    padding: 5px
    left: 50%
    transform: translateX(-50%)
#button
  .wrapper
    padding: 2em 0
    text-align: center
  .link_wrapper
    position: absolute
  a
    display: block
    width: 300px
    height: 50px
    line-height: 50px
    font-weight: bold
    text-decoration: none
    background: #222
    text-align: center
    color: #fff
    letter-spacing: 1px
    border: 3px solid #222
    transition: all .35s
  .icon
    width: 50px
    height: 50px
    border: 3px solid transparent
    position: absolute
    transform: rotate(45deg)
    right: 0
    top: 0
    z-index: -1
    transition: all .35s
  .icon svg
    width: 30px
    position: absolute
    top: calc(50% - 15px)
    left: calc(50% - 15px)
    transform: rotate(-45deg)
    fill: $color_ochsenred
    transition: all .35s
  a:hover
    width: 250px
    border: 3px solid $color_ochsenred
    background: transparent
    color: $color_ochsenred
  a:hover + .icon
    border: 3px solid $color_ochsenred
    right: -20%

@media only screen and (min-width: 768px)
    section, .slick-slider
        margin: 10% 10%
    h2, h3
        font-size: 5em
    .flex
        flex-direction: row
    .flex p
        padding: 0 1em
@media only screen and (min-width: 1024px)
    section, .slick-slider
        margin: 8% 20%
@media only screen and (min-width: 1216px)
    section, .slick-slider
        margin: 6% 25%
@media only screen and (min-width: 1408px)
    section, .slick-slider
        margin: 4% 30%