@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat&display=swap')
@import url(https://allfont.de/allfont.css?fonts=rothenburg-decorative)

$color_ochsenred: #8F1E31
$color_light_ochsenred: rgba($color_ochsenred, 0.95)
$color_background: #F8F8F8

body
    font: 18px 'Montserrat', Arial, sans-serif
    text-align: left
    background: $color_background
a
    color: $color_ochsenred
h1
    font-family: 'Rothenburg Decorative Normal', 'Alex Brush', cursive
    font-size: 1.8em
    font-weight: 400
p
    margin: 1em 0
    font-weight: 350
    text-align: left
b
    font-weight: 400
span
    font-family: 'Rothenburg Decorative Normal', 'Alex Brush', cursive
hr
    margin: 0 auto
    width: 80%
    border: 0px solid $color_ochsenred
section
    margin: 0 5%
nav
    position: fixed
    top: 0
footer
    font-size: 0.8em
.centered
    text-align: center
.link-no-underline
    box-shadow: none
.partner-icon img
    margin: 5px
.flex
    display: flex
    flex-direction: column
    justify-content: center
.cropped
    width: 600px
    height: 300px
    overflow: hidden
    object-fit: cover
.cropped img 
    margin: -10px 0px 0px -180px
#intro
    background-image: url("../../content/assets/intro.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: 70%
    background-color: rgba(0, 0, 0, 0.15)
    height: 100vh
#events
    text-align: center
#icon-bottom-ochsen
    width: 65px
    height: 48px
    margin: 0 auto
#brand
    position: absolute
    padding: 5px
    left: 50%
    transform: translateX(-50%)
@media only screen and (min-width: 768px)
    section, .slick-slider
        margin: 0 10%
    h2, h3
        font-size: 2em
    .flex
        flex-direction: row
    .flex p
        padding: 0 1em
@media only screen and (min-width: 1024px)
    section, .slick-slider
        margin: 0 20%
@media only screen and (min-width: 1216px)
    section, .slick-slider
        margin: 0 25%
@media only screen and (min-width: 1408px)
    section, .slick-slider
        margin: 0 30%